# database from neon
DATABASE_URL="postgresql://neondb_owner:npg_AfqwgjULh9X2@ep-dawn-sky-a12xl6ty-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# go server 
PORT=8080

# api keys 
ANTHROPIC_API_KEY="sk-ant-.."
CHESSCOM_API_KEY=""

# next.js
NEXT_PUBLIC_API_URL=http://localhost:8080
